.btnExport.do-animation {
    animation: download 1s;
    animation-iteration-count: infinite;
}

@keyframes changeColor {
    0% {
      background-color: #FFC700;
    }
    50% {
      background-color: #60DA4C;
    }
    100% {
      background-color: #EEEEEE;
    }
  }


  @keyframes download {
    0% {
      transform: translateY(0em);
      color: var(--primary);
    }
    10% {
      transform: translateY(.5em);
    }
    50% {
      transform: translateY(.75em);
    }
    70% {
      transform: translateY(0em);
    }
    70% {
      transform: translateY(-.75em);
    }
    100% {
      transform: translateY(-.5em);
      color: #EEEEEE;
    }
  }
  