.btnAction {
    width: 150px;
    /* min-width: 100px; */
}

div > span > .btnViewPassword,
.btnViewPassword,
.control-sidebar > .container > .row,
#darkmode {
    cursor: pointer;
}


.invalid-errors {
    color: var(--danger);
}

.v-align-middle {
    vertical-align: middle;
}


/* bootstrap overides */
@media only screen and (min-width: 720px) {
    .modal-lg {
        max-width: 700px;
    }
    .modal-dialog {
        max-width: 700px;
        margin: 1.75rem auto;
    }
}
@media only screen and (min-width: 992px) {
    .modal-lg {
        max-width: 900px;
    }
    .modal-dialog {
        max-width: 900px;
        margin: 1.75rem auto;
    }
}